body, div, form,ul,h1,nav,header {
    margin: 0;
    padding: 0;    
}

header {
    width: auto;
    height: auto;
    padding: 30px 90px;
    display: flex; 
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px; 
}

.main-options-menu {
    display: flex;
    justify-content: space-between;
}

.main-options-menu > * {
    margin-right: 40px;
}


header span:hover,header div > span:hover, header a:hover {
    cursor: pointer;
}

header a{
    color: white; 
}


header a {
    text-decoration: none;
}

.dropdown-content{
    width: auto;
   display: none;
   border:1px solid #707070;
   border-radius: 4px;
   margin-top: 0.5em;
   /*background: rgba(116, 102, 201, 0.9);*/
   background: white;
   
}

.dropdown-content a{
    /*color: white;*/   
    color:#7466C9;
    font-size: 0.8em;
    padding: 10px 20px;
}

.dropdown-content a:hover{
    /*background: rgba(255, 255, 255, 0.8);*/
    background: rgba(116, 102, 201, 0.7);
    color: white;
}

.show {
    display: flex;
    flex-direction: column;
    position: absolute;    
}

@media only screen {
    @media (max-width: 768px) {
      body {
        background-color: yellow;
      }

      header, .main-options-menu {
          flex-direction: column;
      }

      .show {
            display: flex;
            flex-direction: column;        
        }
    }
}

.background-gradient {    
    background: radial-gradient(ellipse at left, #7466C9,#7466C9, #7466C9,#686DCB,#4B7CD1 100%);
}
