body, div, form,ul,h1,nav {
    margin: 0;
    padding: 0;    
}

body {
    width: auto;
    height: 650px    
}

#contentLogin {
    height:600px;   
    width: 400px;
    background: white; 
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
    border: 1px solid black; 
    font-family: 'Segoe UI';
}

.header-login {    
    height: 75px;
    width: auto; 
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.form-login{      
    width: auto;
    padding: 50px 45px 0 45px;
}
.form-sign-in{
    width: auto;
    padding: 40px 45px 0 45px;
}
#formLogin span {
    align-self: flex-end;
    font-size: 11px;
}
#formLogin label, #formSignIn label {    
    font-size: 11px;
    text-transform: uppercase;
}

#formSignIn label{
    text-transform: capitalize;
}

#formLogin input, #formSignIn input{
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
}

#formLogin label[for='password'] {
    margin-top: 32px;
}

#forgot-pass {
    cursor: pointer;
}

#formLogin button, #formSignIn button {
    height: 50px;
    border-radius: 30px;
    border:1px solid #707070;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    font-size: 18px;
    margin-top:65px;
    box-shadow: 1px 1px 2px #000;
}

#formSignIn button {
    margin-top: 45px;
}

#formLogin button:hover, #formSignIn button:hover{
    background: radial-gradient(ellipse at left, #7466C9,#7466C9, #7466C9,#686DCB,#4B7CD1 70%);
    cursor: pointer;
    box-shadow: 1px 1px 4px #000;
}

.other-option-login {    
    width: auto;
    height: 150px;
    font-size: 11px;
}

#content-media-icons {
    margin-top:10px;
}

#content-media-icons img:hover{
    cursor: pointer;    
    box-shadow: 1px 1px 2px rgb(153, 149, 149);
    border-radius: 50px;
}

#sign-up-link {
    margin-top: 40px;
    text-decoration: underline;
    font-size: 12px;
}

#sign-up-link:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px  rgb(153, 149, 149);
}

.background-gradient {    
    background: radial-gradient(ellipse at left, #7466C9,#7466C9, #7466C9,#686DCB,#4B7CD1 100%);
}

.flex-display {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.center-center{
    justify-content: center;
    align-items: center;
}

.top-center{
    justify-content: center;
    align-items: flex-start;
}

.required-symbol{
    color: red;
    font-size: 20px;
    margin-left: 3px;
}

.login-linkedin{
    height: 400px;
}
/*ROBOTO Font   **/

@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
  }

/*Style template*/

header {
    height: 70px;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;  
    padding: 0  90px; 
}


/*.main-nav{
    list-style: none; 
    vertical-align: middle;    
}

ul.main-nav li {
    display: inline;    
    margin-left: 5px;
}

ul.main-nav li:hover,ul.main-nav li ul li:hover {
    cursor: pointer;
}

ul.main-nav li ul li {
    display: block;
    clear: both;
  width: 100%;
}

ul.main-nav li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
ul.main-nav li:nth-child(2) {
    margin-left : 70px;
}

ul.main-nav li:nth-child(4){
    margin-left: 900px;
}
*/
/*New nav*/

header #portFolioMenu {
    margin-left: 70px;
}

header div > span:last-child{
    margin-left: 20px;
}

#nav-options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#nav-options ul {
    list-style: none;
}
#nav-options ul:first-child{
    margin-right: 20px;
}
#nav-options ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

#nav-options img{
    margin-right: 8px;
}

.plusSymbol, .cursor-pointer{
    cursor: pointer;
}
/*end new nav*/

/*WorkSpace - first page*/

.main-workspace{
    background: #CFCFE0;
    /*margin-top: 70px;*/
    /*background: red;*/
    width: auto;
    height: auto;
    padding: 60px 90px 0 90px;
}

.main-workspace h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #707070;
    /*text-shadow: 1px 1px 2px #772424;*/
    /*text-shadow: 1px 1px 2px rgba(119,36,36,0.5);*/
}

#content-templates{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

#content-templates > *{
    /*margin-bottom: 150px;*/
}

.box-template {
    border: 1px solid #707070;
    width: 270px;
    height: 200px;
    background: white;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, .16);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
}

.line-box-template{
    width: 200px;    
    background: #7466C9;
    border: 2px solid #7466C9;
    /*  margin-top: 25px; */      
}

#content-templates .box-template span{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
    text-align: center;
}

#content-templates .box-template .btnSelectTemplate {
    width: 200px;
    height: 50px;
    border: 1px solid #7466C9;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    box-shadow: 2px 2px 6px rgba(49,48,48, 0.3);    
}

#content-templates .box-template .btnSelectTemplate:hover {
    cursor: pointer;
    box-shadow: 5px 5px 6px rgba(49,48,48, 0.3);
    background: radial-gradient(ellipse at left, #7466C9,#7466C9, #7466C9,#686DCB,#4B7CD1 70%);
}
/*End WorkSpace - first page*/

/*Language Options */

/*#nav-options ul.openOptions li ul {
    visibility: visible;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;    
    display: block;    
}*/


.dropbtn {
    /*background-color: #3498DB;*/
    color: white;
    padding: 16px;
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.5s ease;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {
      display: block;}
/*End Language Options */





